*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    color: rgb(0, 1, 2);
}

html, body {
    font-size: 20px;
    height: 100%;
    width: 100%;
    font-family: monospace;
    color: rgb(0, 1, 2);
    z-index: -1;
    overflow: hidden;
}

body {
    background: #ffffff;
    /* background: url('images/background.jpg'); */
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
  }
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
    ::-webkit-scrollbar-thumb {
    background: #888; 
      border-radius:10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    
    background: #555; 
  } 


/* scroll bar end */


nav {
    margin-bottom: 2rem;
    height: 4rem;
    background-color: #9d9d9d8a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px black;
    background: #9d9d9d8a;
    /* backdrop-filter: blur(20px); */
}
nav div{
    height:auto;
    font-weight: 700;
    pointer-events: none;
    user-select: none;
}
nav ul {
    padding: 1.5rem;
    display: flex;
    list-style: none;
    gap: 1rem;
}
nav ul li a{
    text-decoration: none;
    font-size: 0.9rem;
    color: inherit;
    transition: all 0.3s ease;
}
footer {
    font-family: SANS-SERIF;
    position: absolute;
    bottom: 0px;
    background: transparent;
    width: 100%;
    background-color: #9d9d9d8a;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu_icon{
    display: none;
}

footer p a{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.shake{
    animation: shake .2s linear .2s 3;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@media screen and (max-width: 1200px) {
    body{
        /* background: url('images/background.jpg'); */
        background: #ffffff;
    }
    .sub-nav {
        object-fit: cover;
        height: 3rem;
    }
  }

@media  screen and (max-width:800px) {
    body{
        font-size: 20px;
    }
    #nav_section {
        display: none;
        position: relative;
        top: 2.5rem;
        left: 0px;
        /* right: 10px; */
        width: 100vw;
        z-index: 4;
        flex-direction: column;
        gap:2px;
    }
    #nav_section>li>a {
        display: block;
        /* padding: .2rem; */
        width: 100%;
        height: 2rem;
        background: rgb(0 7 8 / 35%);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
        backdrop-filter:blur(100px);
    }
    #nav_section>li>a:hover {
        background: rgb(0 7 8 / 50%);
    }
    #menu_icon{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
}