{% extends 'base.html' %} {% load static %} {% block css %}
<!-- <link rel="stylesheet" href="{% static 'login/login.css' %}"> -->
<link rel="stylesheet" href="{% static 'MainApp/user.css' %}" />
<link rel="stylesheet" href="{% static 'MainApp/Hisab.css' %}" />
<script src="{% static 'jquery-3.7.1.min.js' %}"></script>

{% endblock css %} {% block content %}
<div class="outer-container">
  <div class="display-container">
    <div class="display-box">
      <span class="display-name">Welcome </span>
      <span class="display-value">{{ user.username }}</span>
    </div>
    <div class="display-box">
      <span class="display-name">Credit : </span>
      <span class="display-creditamount" style="font-family:'Times New Roman', Times, serif;color:green">{{amount.credit_amout|floatformat:2}} </span>
    </div>
    <div class="display-box">
      <span class="display-name"> Debit : </span>
      <span class="display-debitamount" style="font-family:'Times New Roman', Times, serif;color:red">{{amount.debit_amout|floatformat:2}}</span>
    </div>
  </div>
  <div class="header">
    
    <span class="deleteUser button" id="filter-button">
      <span >Filter</span>
    </span>
    <span class="editUser button">
      <a href="/edituser/{{ user.username }}">Edit Profile</a>
    </span>
  </div>

  <div class="container" id="container">
    <table>
      <thead>
    <tr class="transaction-box transactionlist-header">
      <td class="transactionname">Username</td>
      <td class="transaction-name">Name</td>
      <td class="amount">Amount</td>
    </tr>
  </thead>
    <tbody class="transactionlist-container" id="transactionlist-container">
      {% for party in parties %}
      <tr class="transaction-box transaction" href="">
        <td class="user-username">{{party.username}}</td>
        <td class="user-name">{% if party.first_name or party.last_name %} {{party.first_name}} {{party.last_name}} {% else %} ---- {% endif %}</a></td>
        <td class="user-amount" style="font-family:'Times New Roman', Times, serif;color:{% if party.amount_type == 'credit' %}green{% else %}red{% endif %};" >{{party.amount|floatformat:2 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

<div class="outer-filter-box" id="pop-up">
<div class="filters">
  <div class="inner-filters">
    <table>
  <div class="filter-section">
<div class="filter-section"><tr>
  <div class="filter-box">
    <td><span class="filter-name">Party</span></td>
    <td><select class="filter-value" id="party" >
      <option value="">All</option>
      {% for party in parties %}
      <option value="{{party.username}}">{{party.username}}</option>
      {% endfor %}
    </select></td>
  </div></tr><tr>
  <div class="filter-box">
    <td><span class="filter-amount">Amount Lower Limit</span></td>
   <td> <input type="number" class="filter-value" id="Lower_amount" /></td>
</div></tr><tr>
  <div class="filter-box">
    <td><span class="filter-amount">Amount Upper Limit</span></td>
    <td><input type="number" class="filter-value" id="Upper_amount" /></td>
  </div></tr>
</div>
</table>
</div>
<div class="buttons">
  <span class="filter-button" id="filter-button-clear">
    <span>Back</span>
  </span>
  <span class="filter-button" id="filter-button-apply">
    <span>Apply</span>
  </span>
</div>
</div>
</div>

<script type="text/javascript" src="{% static '/login/login.js' %}"></script>
<script type="text/javascript" src="{% static '/MainApp/Hisab.js' %}"></script>


{% endblock content %}
