{% extends 'base.html' %}

{% load static %}
{% block css %}

<!-- <link rel="stylesheet" href="{% static 'login/login.css' %}">-->
<link rel="stylesheet" href="{% static 'MainApp/home.css' %}">
<!-- <script src="{% static 'jquery-3.7.1.min.js' %}"></script>  -->

{% endblock css %}
{% block content %}
<div class="outer-container">
    <div class="container" id="container">
        Welcome to Khata

    </div>
</div>

<!-- <script type="text/javascript" src="{% static '/login/login.js' %}"></script> -->

{% endblock content %}