{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'login/login.css' %}">
<script src="{% static 'jquery-3.7.1.min.js' %}"></script>


{% endblock css %}
{% block content %}
<div class="outer-container">
<div class="container" id="container">
    <h1>update Password</h1>
    <form action="/updatePassword" method="post">
    {% csrf_token %}
    <div class="inner-container">
    <div class="pass pass1 innermost-container">
        <label for="password">Password:</label><input type="text" placeholder="Password" name="Password" id="password">
    </div>
    <div class="pass pass2 innermost-container">
        <label for="password2">Password:</label><input type="password" placeholder="Re-Password" name="password2" id="password2">
    </div>
    <div class="submit" ><button>Submit</button></div>
</div>
</form>
</div>
</div>

<script type="text/javascript" src="{% static '/login/login.js' %}"></script>

{% endblock content %}