{% extends 'base.html' %} {% load static %} {% block css %}
<!-- <link rel="stylesheet" href="{% static 'login/login.css' %}"> -->
<link rel="stylesheet" href="{% static 'MainApp/user.css' %}" />
<!-- <script src="{% static 'jquery-3.7.1.min.js' %}"></script> -->

{% endblock css %} {% block content %}
<div class="outer-container">
  <div class="display-container">
    <div class="display-box">
      <span class="display-name">Username: </span>
      <span class="display-value"
        >{{ user1.username }} [{% if user1.is_active %}Active{% else %}Inactive{% endif %}]</span
      >
    </div>
    <div class="display-box">
      <span class="display-name">Name: </span>
      <span class="display-value"
        >{{ user1.first_name }} {{ user1.last_name }}</span
      >
    </div>
    <div class="display-box">
      <span class="display-name">Amount: </span>
      <span
        class="display-value"
        style="font-family:'Times New Roman', Times, serif;color:{% if user1.amount_type == 'credit' %}green{% else %}red{% endif %};"
        >{{ user1.amount|floatformat:2 }}</span
      >
    </div>
  </div>
  {% if user.is_staff %}
  <div class="header">
    <span class="editUser button">
      <a href="/edituser/{{ user1.username }}">Edit</a>
    </span>
    <span class="deleteUser button">
      <a
        href="/deleteuser/{{ user1.username }}"
        onclick="return confirm('Are you sure you want to delete user?');"
        >Delete</a
      >
    </span>
    <span class="addDebit button">
      <a href="/addtransaction?party={{ user1.username }}&type=debit"
        >Add Debit</a
      >
    </span>
    <span class="addCredit button">
      <a href="/addtransaction?party={{ user1.username }}&type=credit"
        >Add Credit</a
      >
    </span>
  </div>
  {% endif %}
  <div class="container" id="container">
    <table>
      <thead>
        <tr class="transaction-box transactionlist-header">
          <td class="transactionname">Date</td>
          <td class="transaction-name">Comment</td>
          <td class="amount">Amount</td>
          <td class="current-amount">Running total</td>
        </tr>
      </thead>
      <tbody class="transactionlist-container">
        {% for transaction in transactions %}
        <tr
          class="transaction-box transaction"
          href="{%url 'MainApp:hisab' id=transaction.id %}"
        >
          <td class="transactionname">
            <a href="{%url 'MainApp:hisab' id=transaction.id %}"
              >{{ transaction.date |date:"Y-m-d"}}</a
            >
          </td>
          <td class="transaction-name">
            <a href="{%url 'MainApp:hisab' id=transaction.id %}"
              >{% if transaction.comment|truncatechars:20 %} {{transaction.comment|truncatechars:20}} {% else %} ---- {% endif %}</a
            >
          </td>
          <td
            class="amount"
          >
            <a href="{%url 'MainApp:hisab' id=transaction.id %}" style="font-family:'Times New Roman', Times, serif;color:{% if transaction.type == 'credit' %}green{% else %}red{% endif %};"
              >{% if transaction.type == 'debit' %}-{% endif %}{{transaction.amount|floatformat:2}}</a
            >
          </td>
          <td
            class="amount"
          >
            <a href="{%url 'MainApp:hisab' id=transaction.id %}" style="font-family:'Times New Roman', Times, serif;color:{% if transaction.running_total >= 0 %}green{% else %}red{% endif %};"
              >{{transaction.running_total|floatformat:2}}</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- <script type="text/javascript" src="{% static '/login/login.js' %}"></script> -->

{% endblock content %}
