{% extends 'base.html' %}

{% load static %}
{% block css %}
<!-- <link rel="stylesheet" href="{% static 'login/login.css' %}"> -->
<link rel="stylesheet" href="{% static 'MainApp/user.css' %}">
<!-- <script src="{% static 'jquery-3.7.1.min.js' %}"></script> -->

{% endblock css %}
{% block content %}
<div class="outer-container">
<div class="header">
    <span class="editUser button">
        <a href="/edituser/{{ user.username }}">Edit</a>
    </span>
    <span class="deleteUser button">
        <a href="/deleteuser/{{ user.username }}">Delete</a>
    </span>
    <span class="addDebit button">
        <a href="/addtransaction?party={{ user.username }}&type=debit">Add</a>
    </span>
    <span class="addCredit button">
        <a href="/addtransaction?party={{ user.username }}&type=credit">Add</a>
    </span>
</div>
<div class="container" id="container">
    <div class="transaction-box transactionlist-header">
        <span class="transactionname">Date</span>
        <span class="transaction-name">Comment</span>
        <span class="amount">Amount</span>
    </div>
    <div class="transactionlist-container">
    {% for transaction in transactions %}
        <a class="transaction-box transaction" href="">
        <span class="transactionname">{{ transaction.date }}</span>
        <span class="transaction-name">{{transaction.comment|truncatechars:20}} </span>
        <span class="amount" style="font-family:'Times New Roman', Times, serif;color:{% if user.amount_type == 'credit' %}green{% else %}red{% endif %};" >{{transaction.amount}}</span>  
    </a>
    {% endfor %}
</div>
</div>
</div>

<script type="text/javascript" src="{% static '/login/login.js' %}"></script>

{% endblock content %}