div#container {
    /* background: red; */
    height: calc(100vh - 10rem);
    padding: 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 1rem;
    justify-content: space-evenly;
}
.user-container,.transaction-stats, .account-stats ,.transaction-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px;
    padding: .5rem;
    border-radius: .5rem;
}
.transaction-stats>h4, .account-stats>h4,.transaction-container>h4{
    border-bottom:solid 1px;
    margin-bottom:.5rem;
}
.transaction-container {
    max-width: 100%;
    min-width: 70%;
    max-height: 40vh;
}
td{
    padding:.5rem;
}
.transaction {
    /* display: flex; */
    width: 90%;
    /* background: red; */
    /* margin: 1rem; */
}
.transaction-list {
    width: 95%;
    overflow: auto;
    height: calc(100% - 2rem);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}
tr{
    margin:1rem;
}
table {
    max-width: 100%;
    min-width: 70%;
}