div#container {
    /* background: red; */
    height: calc(100vh - 10rem);
    padding: 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}
.row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 1rem;
    justify-content: space-evenly;
}
.user-container,.transaction-stats, .account-stats ,.transaction-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px;
    padding: .5rem;
    border-radius: .5rem;
}
.transaction-stats>h4, .account-stats>h4,.transaction-container>h4{
    border-bottom:solid 1px;
    margin-bottom:.5rem;
}
.transaction-container {
    max-width: 100%;
    min-width: 70%;
    max-height: calc(100vh - 11rem);
}
td{
    padding:.5rem;
}
.transaction {
    /* display: flex; */
    width: 90%;
    /* background: red; */
    /* margin: 1rem; */
}
.transaction-list {
    width: 95%;
    overflow: auto;
    height: calc(100% - 2rem);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}
tr{
    margin:1rem;
}
table {
    max-width: 100%;
    min-width: 70%;
}




/* switch css */

h1 {
    color: green;
}
      
/* toggle in label designing */
.toggle {
    position: relative;
    display: flex;
    width: 100px;
    height: 52px;
    background-color: red;
    border-radius: 30px;
    border: 2px solid gray;
    justify-content: space-around;
    align-items: center;
}
      
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    top: 1px; 
    left: 1px;
    transition:  all 0.5s;
}
      
/* Toggle text */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
      
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 49px; 
}
      
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: green;
}
      
/* Checkbox vanished */
.checkbox { 
    display : none;
}

/* switch css end */




span.setting-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.settings-menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

span.superuser-login-url {
    display: block;
    padding: .5rem;
    border: solid 2px black;
    border-radius: .5rem;
    user-select: none;
    cursor: pointer;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.popup-content {
    background: white;
    padding: 1rem;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 30vh;
}

span.close-popup {
    font-size: 2rem;
    cursor: pointer;
}
span.close{
    cursor: pointer;
}

.popup-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.3rem;
}
span#url_block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.submit {
    border: none;
    font-size: 1rem;
    /* border-block: none; */
    background: transparent;
    width: 100%;
    height: 100%;
}
input#url_token ,input[type="submit"]{
    font-size: 1rem;
    font-family: monospace;
    padding: .2rem;
    border-radius: .5rem;
    border-color: #b8dfd9;
}

input#url_token:focus {
    outline: none;
    border: none;
}

input[type="submit"] {
    background-color: #b8dfd9;
    cursor: pointer;
    height: 2rem;
    width: 10rem;
}